@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(246, 246, 246);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    margin-right: 10px;
    border: none;
}

.hyrelink{
    display: flex;
    gap: 3px;
    text-decoration: none;
    color: blue;
    align-items: center;
}

.hrLogo{
    font-size: 2rem;
}
